{% extends "auctions/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="maincontainer">
            <h2>Watchlist</h2>
            {% for list in lists %}
                <div class="listcontainer">
                    <div class="image">
                        <img src="{{ list.auction.image_link }}" alt="bid image">
                    </div>
                    <div class="text">
                        <div class="title">
                            <a href="{% url 'itemview' list.auction.id %}">{{ list.auction.title }}</a>
                        </div>
                        <div class="price">
                            <p>${{ list.last_bid }}</p>
                        </div>
                        <div class="category">
                            <p>{{ list.category_name }}</p>
                        </div>
                        <div class="date">
                            <p>Created {{ list.auction.creation_date }}</p>
                        </div>
                        <div class="seller">
                            <p>By {{ list.auction.seller }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="nolog">
            <p>You need to login to add items to your watchlist:</p>
            <a href="{% url 'login' %}">Log in</a>
            <p>If you don't already have an account:</p>
            <a href="{% url 'register' %}">Register</a>
        </div>
    {% endif %}
{% endblock %}